* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    padding: 30px ;
    perspective: 700px ;
    background: url(../img/bg/bg-1.jpg);
    font-family: 'Alex Brush', cursive;
    font-family: 'Cairo', sans-serif;
    /* z-index: 100px; */
}
section {
    position: relative;
    transform-style: preserve-3d;
}
.cartt ,.faster{
  margin-top: 57px;
  margin-left: 60px;
  font-size: 25px;
}

nav ul {
list-style: none;
text-align: center;
margin-top: -55px;
margin-left: 400px;
}
.list li .war{
text-decoration: none;
color: #1b1b1b;
/* display: inline-block; */
font-family: "Montserrat",sans-serif;
font-size: 16px;
font-weight: 600;
/* line-height: 100px; */
text-transform: uppercase;

}
.list li {
  font-size: 20px;
  margin-left: 20px;
  text-transform: capitalize;
  font-weight: 700;
  display:inline-block;
  position: relative;
}

/* /////////// */
/* nav{
  background-color: #767575 !important;} */
.new{
    text-align: center;
    font-size: 38px;
font-weight: 400;
margin: 0;
position: relative;
z-index: 9;
font-family: 'Playfair Display', serif;
color: #242424;
font-style: normal;
margin-bottom: 20px;
margin-top: -350px;
left: 20%;
}
/* .new::before {
    background-color: #2b2b2b;
    content: "";
    height: 1px;
    left: 41%;
    position: absolute;
    bottom: -2px;
    transition: all 0.4s ease 0s;
    width: 18%;
    z-index: 1;
} */
.latest{
  color: #2b2b2b;
  font-family: "Playfair Display",serif;
  font-size: 16px;
  margin: 20px auto 0;
  max-width: 450px;
  text-align: center;
  left: 20%;
  position: relative;
}
.first , .second ,.third{
    display: flex;
   gap: 30px;
   /* z-index: 100000px; */
   /* margin-bottom: -30px; */
}
ul{
    list-style: none;
}
li{
    color: #6d6d6d;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    line-height: 1.2;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
}
.image{
    margin-top: 50px;
    position: relative;
    width: 260px;
    
}
/* .back{
  margin-top: 50px;
  width: 260px;
} */
.product-one{
   position: relative;
   left: 5%;
}
.image > span {
    background-color: #519f10;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    left: 10px;
    line-height: 1;
    position: absolute;
    top: 10px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
  }
  .span{
    margin-left: 20px;
  }
  .product-price-new{
        color: #333333;
        font-family: "Work Sans",sans-serif;
        margin: 0px;
        font-weight: 600;
      }

  .product-price-old{
    text-decoration: line-through;
color: #767575;
  }
  .icons{
    margin-top: -40px;
    left: 60%;
    position: absolute;
  /* gap: 10px; */
  
  }
  .icons i{
    transform: scale(0);
    background-color: #f1f1f1;
    width: 30px;
    height: 30px;
    padding-top: 7px;
    text-align: center;
  }
.product-one:hover i ,.product-one:hover .add-to-cart{
    transition: 1s;
    transform: scale(1);
}
.product-one:hover .title{
    transform: scale(0);
}
.add-to-cart:hover{
    color: #519f10;
}
.icon:hover , .iconn:hover , .iconnn:hover {
background-color: #519f10;
color: #fff;
}
.add-to-cart{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    transform: scale(0);
    margin-left: 20px;
    margin-top: -120px;
}
/* ////////// */

/* ////////////// */
@media(max-width:567px){
  av ul {
    list-style: none;
    text-align: center;
    margin-top: -55px;
    margin-left: 400px;
    }
    .list li .war{
    text-decoration: none;
    color: #1b1b1b;
    /* display: inline-block; */
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 600;
    /* line-height: 100px; */
    text-transform: uppercase;
    
    }
    .list li {
      font-size: 20px;
      margin-left: 20px;
      text-transform: capitalize;
      font-weight: 700;
      display:inline-block;
      position: relative;
    }
  .new{
    
    text-align: center;
    font-size: 38px;
font-weight: 400;
margin: 0;
position: relative;
z-index: 9;
font-family: 'Playfair Display', serif;
color: #242424;
font-style: normal;
margin-bottom: 20px;
max-width:567px
}
.latest{
  color: #2b2b2b;
  font-family: "Playfair Display",serif;
  font-size: 16px;
  margin: 20px auto 0;
  max-width: 450px;
  text-align: center;
}
.first , .second {
   flex-direction: column;
   gap: 30px;
   max-width: 560px;
}
ul{
    list-style: none;
}
li{
    color: #6d6d6d;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    line-height: 1.2;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
}
.image{
    margin-top: 50px;
    position: relative;
    max-width: 567px;
    
}
.product-one{
   position: relative;
   left: 5%;
   max-width: 567px;
}
.image > span {
    background-color: #519f10;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    left: 10px;
    line-height: 1;
    position: absolute;
    top: 10px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
  }
  .span{
    margin-left: 20px;
  }
  .product-price-new{
        color: #333333;
        font-family: "Work Sans",sans-serif;
        margin: 0px;
        font-weight: 600;
        max-width: 567px;
      }

  .product-price-old{
    text-decoration: line-through;
color: #767575;
  }
  .icons{
    margin-top: -40px;
    left: 60%;
    position: absolute;
  /* gap: 10px; */
  
  }
  .icons i{
    transform: scale(0);
    background-color: #f1f1f1;
    width: 30px;
    height: 30px;
    padding-top: 7px;
    text-align: center;
  }
.product-one:hover i ,.product-one:hover .btn{
    transition: 1s;
    transform: scale(1);
}
.product-one:hover .title{
    transform: scale(0);
}
.btn:hover{
    color: #519f10;
}
.icon:hover , .iconn:hover , .iconnn:hover {
background-color: #519f10;
color: #fff;
}
.btn{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    transform: scale(0);
    margin-left: 20px;
    margin-top: -120px;
}
/* ////////// */

.people{
  font-size: 20px;
  color: #333333;
font-family: "Work Sans",sans-serif;
margin: 0px;
font-weight: 600;

}
#total-price{
  font-size: 20px;
  color: #767575;
}
}
.people{
  font-size: 20px;
  color: #333333;
font-family: "Work Sans",sans-serif;
margin: 0px;
font-weight: 600;
margin-left: 10px;
}
#total-price{
  font-size: 20px;
  color: #767575;
}

/* //////////////// */
.cartt{
  position: relative;
  font-size: 2em;
  font-weight: 600px;
  cursor: pointer;
  /* margin-top: 10px; */
  margin-left: 900px;
}
.zero{
   color: #519f10;
   background-color: #D6D6D6;
   padding: 6px;
   border-radius: 50%;
   font-size: 15px;
}
.attrbite{
  z-index: 1;
  display: flex;
  background-color: #f9f9f9;
  width: 300px;
  height: 300px;
  visibility: hidden;
  position: relative;
  margin-right: -2000px;
  /* gap: 30px; */
}
.remote {
  color: #000;
font-weight: 400;
font-size: 14px;
/* line-height: 18px; */
font-family: 'Work Sans', sans-serif;
font-style: normal;
margin-top: 25px;
}
.qty{
  color: #555;
font-size: 13px;
margin: 5px 0 10px;
}
.cartt ,.qty-one{
  color: #555;
font-size: 14px;
margin-top: -100px;
}
.cartt:hover .attrbite {
  visibility: visible;
  transition: 2s;
}
.cartt:hover .btn2{
  visibility: visible;
  transition: 2s;
}
.cartt:hover .btn3{
  visibility: visible;
  transition: 2s;
}
.attrbite::before {
    background-color: #666;
    content: "";
    height: 1px;
    left: 1%;
    position: absolute;
    bottom: -2px;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 1;
    top: 44%;
}
.shipping{
  visibility: hidden;
  margin-top: -150px;
  position: absolute;
  z-index: 1;
}
.cartt:hover .shipping{
  visibility: visible;
}
.shipping , .shop{
  color: #242424; 
  font-size: 20px;
  margin-left: 10px;
}
.doler{
  margin-left: 200px;
  margin-top: -20px;
}
.shipping >  h4 span{
  /* position: absolute; */
  float: right;
  /* margin-left: 100px; */
color: #242424;
font-size: 14px;
font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: 400;
}
.check{
  margin-top: -60px;

}
.btn2  {  z-index: 2;
  visibility: hidden;
position: absolute;
  background-color: #519f10;
border: 1px solid #519f10;
color: #fff;
display: block;
font-size: 12px;
font-weight: 500;
padding: 14px 20px 12px;
text-align: center;
text-transform: uppercase;
transition: all 0.3s ease 0s;
width: 110px;
float: left;
margin-left: 45px;
}.btn3{
  visibility: hidden;
position: absolute;
color: #fff;
display: block;
font-size: 12px;
font-weight: 500;
padding: 14px 20px 12px;
text-align: center;
text-transform: uppercase;
transition: all 0.3s ease 0s;
width: 100px;
float: left;
margin-right: 15px;
  background-color: #519f10;
border: 1px solid #519f10;
z-index: 2;
  margin-left: 160px;
}
.btn2:hover ,.btn3:hover{
  color: #000;
  background: #f1f1f1;
}
/* //// */

/* ///////////// //////////////////////////////////////*/

.yasin{
  position: relative;
  left: 33%;
    /* max-width: 5000px; */
    max-width: 567px;
   max-height: 450px;
    background-color:  #f3f3f3;
    margin-top: 40px;
}
.cart{
    padding-top:20px ;
    text-align: center;
    color: #D6D6D6;
   text-transform: capitalize;
   font-size: 30px;
   font-weight: 700;
}

#total-btn{
  transform: translate(-50%,-50%);
  margin-top: 200px;
  background-color: #000000;
  border: medium none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  height: 60px;
  line-height: 1;
  padding: 10px 30px;
  position:relative;
left: 50%;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

#total-btn:hover{
  background-color: #519f10;
  color: #000000;
}
#content{
  color: #6d6d6d;
  font-size: 20px;
}
#cornar{
  width: 100px;
  font-size: 20px;
  background-color: #519f10;
  position: relative;
  color: #000000;
 margin-top: 10px;
text-align: center;
 left: 50%;
  transform: translate(-50%,-50%);
}

